body{

  margin:0;
  font-family:Poppins,sans-serif;
  background:#f5f5f5;

}

.menu-box{

  max-width:1000px;
  margin:80px auto;
  padding:20px;

}

.menu-box h1{

  text-align:center;
  color:#063b3a;
  margin-bottom:40px;

}

.menu-grid{

  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;

}

.menu-card{

  height:140px;
  background:white;
  border-radius:25px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  font-weight:700;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
  transition:.3s;

}

.menu-card:hover{

  transform:translateY(-5px);

}